@import ./variables.sass
@import 'bootstrap/scss/bootstrap.scss'
@import 'bootstrap-vue/src/index.scss'

body
  background: $primary

@font-face
  font-family: 'Proxima Nova'
  src: url('../assets/ProximaNova-Regular.otf')
