@import variables.sass
@import 'bootstrap/scss/bootstrap.scss'
@import 'bootstrap-vue/src/index.scss'

@font-face
  font-family: 'Nunito Sans'
  src: url('../assets/NunitoSans-Regular.ttf')

@font-face
  font-family: 'Nunito Sans'
  src: url('../assets/NunitoSans-Bold.ttf')
  font-weight: bold

@font-face
  font-family: 'Nunito Sans'
  src: url('../assets/NunitoSans-Light.ttf')
  font-weight: 250

@font-face
  font-family: 'Nunito Sans'
  src: url('../assets/NunitoSans-SemiBold.ttf')
  font-weight: 600

html
  overflow: hidden !important
