.slide-fade-enter-active
  transition: all .3s ease
.slide-fade-leave-active
  transition: all .2s ease
.slide-fade-enter, .slide-fade-leave-to
  transform: translateY(300px)
  opacity: 0

.fade-leave-active, .fade-enter-active
  transition: opacity 0.3s ease-out
  transition-delay: 0.15s
  white-space: nowrap

.fade-leave-to
  transition: opacity 0.1s ease-in

.fade-enter, .fade-leave-to
  opacity: 0

.animate__animated.animate__slideOutRight
  --animate-duration: 0.5s

.animate__animated.animate__slideInLeft
  --animate-delay: 0.3s
