$primary: #212121
$secondary: #282828 
$tertiary: #202730
$quaternary: #404040
$text-primary: #ffffff
$text-secondary: #E3E3E3
$accent-primary: #65CB88

$grid-breakpoints: (xs: 0, sm: 480px, md: 640px, lg: 992px, xl: 1580px)

:export
  primary: $primary
  secondary: $secondary
  tertiary: $tertiary
  quaternary: $quaternary
  textPrimary: $text-primary
  textSecondary: $text-secondary
  accentPrimary: $accent-primary
